<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="dom" name="DOM for Monkey scripts" schema="schema/dom.exsd"/>
   <extension-point id="lang" name="Language implementation for Monkey Scripts" schema="schema/lang.exsd"/>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Eclipse Monkey Actions"
            visible="true"
            id="eclipsemonkeyAction.actionSet">
         <menu
               id="eclipsemonkeyMenu"
               label="Monkey">
            <separator
                  name="eclipsemonkeyGroup">
            </separator>
         </menu>
         <action
               class="net.sf.groovyMonkey.actions.CreateGroovyMonkeyExamplesAction"
               icon="icons/monkey.gif"
               id="net.sf.groovymonkey.action1"
               label="Eclipse Monkey Examples"
               menubarPath="eclipsemonkeyMenu/eclipsemonkeyGroup"
               toolbarPath="eclipsemonkeyGroup"
               tooltip="Create the Examples project">
         </action>
      </actionSet>
   </extension>
   
   <extension
         point="org.eclipse.ui.startup">
      <startup/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="net.sf.groovymonkey.emFileContextMenu"
            nameFilter="*.em"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="net.sf.groovyMonkey.actions.PublishScriptForBlogger"
               id="net.sf.groovymonkey.action2"
               label="as Blogger (HTML)"
               menubarPath="net.sf.groovymonkey.navigatorContextMenu/group1"
               tooltip="Publish script in blogging format"/>
         <action
               class="net.sf.groovyMonkey.actions.PublishScriptForWiki"
               id="net.sf.groovymonkey.action4"
               label="as Wiki (indented)"
               menubarPath="net.sf.groovymonkey.navigatorContextMenu/group1"
               tooltip="Publish script in wiki format"/>
         <action
               class="net.sf.groovyMonkey.actions.PublishScript"
               id="net.sf.groovymonkey.action5"
               label="as Bugzilla (text)"
               menubarPath="net.sf.groovymonkey.navigatorContextMenu/group1"
               tooltip="Publish script in wiki format"/>
         <menu
               id="net.sf.groovymonkey.navigatorContextMenu"
               label="Copy for Publication"
               path="group.managing"/>
         <action
               class="net.sf.groovyMonkey.actions.PublishScriptForEmail"
               id="net.sf.groovymonkey.action6"
               label="as Email (wrapped text)"
               menubarPath="net.sf.groovymonkey.navigatorContextMenu/group1"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="net.sf.groovyMonkey.monkeyFolderContextMenu"
            nameFilter="monkey"
            objectClass="org.eclipse.core.resources.IFolder">
         <action
               class="net.sf.groovyMonkey.actions.PasteScriptFromClipboardAction"
               id="net.sf.groovymonkey.action3"
               label="Paste New Script"
               menubarPath="group.editor"
               tooltip="Paste Script from Clipboard"/>
      </objectContribution>
   </extension>
   <extension
         point="net.sf.groovyMonkey.dom">
      <dom
            class="net.sf.groovyMonkey.dom.window.WindowDOMFactory"
            id="Window"
            resource="org.eclipse.ui.IWorkbenchWindow"
            variableName="window"/>
      <dom
            class="net.sf.groovyMonkey.dom.runner.RunnerDOM"
            id="Monkey Runner"
            resource="net.sf.groovyMonkey.dom.runner.MonkeyRunner"
            variableName="runner"/>
      <dom
            class="net.sf.groovyMonkey.dom.VarsDOM"
            id="Vars"
            resource="java.util.Map"
            variableName="vars"/>
      <dom
            class="net.sf.groovyMonkey.dom.MonitorDOM"
            id="Progress Monitor"
            resource="org.eclipse.core.runtime.SubProgressMonitor"
            variableName="monitor"/>
      <dom
            class="net.sf.groovyMonkey.dom.bundle.BundleDOMFactory"
            id="Bundle"
            resource="net.sf.groovyMonkey.dom.bundle.BundleDOM"
            variableName="bundle"/>
   </extension>
</plugin>
