<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.eclipsemonkey.dom">
      <dom
            class="net.sf.groovyMonkey.dom.launch.LaunchManagerDOMFactory"
            id="Launch Manager"
            resource="net.sf.groovyMonkey.dom.launch.LaunchManagerDOM"
            variableName="launchManager"/>
      <dom
            class="net.sf.groovyMonkey.dom.console.ConsoleDOMFactory"
            id="Console"
            resource="net.sf.groovyMonkey.dom.console.ConsoleDOM"
            variableName="out"/>
      <dom
            class="net.sf.groovyMonkey.dom.window.WindowDOMFactory"
            id="Window"
            resource="org.eclipse.ui.IWorkbenchWindow"
            variableName="window"/>
   </extension>

</plugin>
