<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sf.groovyMonkey.dom">
      <updateSite url="http://groovy-monkey.sourceforge.net/update/plugins/net.sf.groovyMonkey.dom"/>
      <dom
            class="net.sf.groovyMonkey.dom.launch.LaunchManagerDOMFactory"
            id="Launch Manager"
            resource="net.sf.groovyMonkey.dom.launch.LaunchManagerDOM"
            variableName="launchManager"/>
      <dom
            class="net.sf.groovyMonkey.dom.console.ConsoleDOMFactory"
            id="Console"
            resource="net.sf.groovyMonkey.dom.console.ConsoleDOM"
            variableName="out"/>
   </extension>

</plugin>
