<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sf.groovyMonkey.dom">
      <updateSite url="http://groovy-monkey.sourceforge.net/update/net.sf.groovyMonkey.dom.cvs"/>
      <dom
            class="net.sf.groovymonkey.dom.cvsdom.DOMFactory"
            id="CVS DOM"
            resource="net.sf.groovymonkey.dom.cvsdom.CVSDOM"
            variableName="cvsDOM"/>
   </extension>

</plugin>
